.product {
  min-width: 120px;
  .product-photo, .product-info {
    float: left;
    margin-left: 10px;
  }
  .product-info {
    margin-bottom: 20px;
    span.header {
      font-weight: bold;
      margin-right: 10px;
    }
  }
  .quantity {
    width: 50px;
    height: 34px;
    border-radius: 4px;
    margin-right: 10px;
  }
}
