@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

.blink {
  opacity: 0;
  margin-right: 10px;
}

tr:hover {
  .blink {
    opacity: 1;
  }
}

.navbar {
  border-radius: 0;
}

.field_with_errors {
  .form-control {
    border-color: red;
  }
}

.label {
  margin-right: 10px;
}

body {
background-image: url(background.jpg);
background-position: center;
}

@import 'parts/products';


