@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -120px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 120px;
}

@import 'parts/header';
@import 'parts/products';
