@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -120px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 120px;
}

.label {
  margin-right: 10px;
}

@import 'parts/header';
@import 'parts/products';

//СюдыВотСюды
.title {
h1 {
color: #660033;
}

}
body
{
background-image: url(background.jpg);
background-position: center;
}

h3 {
color: #660033;
}
